{% extends 'layout.twig' %}
{% block conteudo %}
<h2>Clientes</h2>

<ul>
    {% for cliente in clientes %}
        <li><b>Nome:</b> {{  cliente['nome'] }} - <b>Email:</b> {{ cliente['email'] }}</li>
    {% endfor %}
</ul>
{% endblock %}